@model ITManagerProject.ViewModels.ProjectViewModel
@{
    ViewData["Title"] = "Stworz projekt";
}


<div class="container-fluid">
    <form method="post" asp-action="CreateProject" asp-controller="Project">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Nazwa projektu" asp-for="Name">
        </div>
        <div class="form-group">
            <textarea class="form-control" placeholder="Opis" asp-for="Description"></textarea>
        </div>
        <div class="form-group">
            <label>
                Status: 
                @Html.DropDownListFor(m => m.Status, new List<SelectListItem>()
                {
                    new SelectListItem() { Text = "Nowy", Value = "Nowy" },
                    new SelectListItem() { Text = "W trakcie", Value = "W trakcie" },
                    new SelectListItem() { Text = "Zakonczony", Value = "Zakonczony" }
                }, new { @class = "Status"})
            </label>
        </div>
        <div class="form-group">
            <label>Priorytet: @Html.DropDownListFor(m => m.Priority, new List<SelectListItem>()
                              {
                                  new SelectListItem() { Text = "Niski", Value = "Niski" },
                                  new SelectListItem() { Text = "Normalny", Value = "Normalny" },
                                  new SelectListItem() { Text = "Wysoki", Value = "Wysoki" }
                              }, new { @class = "Priority"})</label>
            
            
        </div>
        <div class="form-group">
            <label>Manager projektu: @Html.DropDownListFor(m => m.ManagerId, Model.UsersList, new { @class = "Users" })</label>
            
        </div>
        <button type="submit" class="btn btn-primary">Dodaj</button>
    </form>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
