@{
    ViewData["Title"] = "Projekty";
}

<div class="container-fluid">
    <div class="row">
        <div class="col" id="projects">
            <a class="btn btn-success right" asp-action="CreateProject" asp-controller="Project">Dodaj projekt</a>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
    $(document).ready(async function() {
        let data = await getProjects();
        $.each(data, function(key, val) {
            $("#projects").append("<div class='card'><div class='card-header'>" + val.status + " Priorytet: " + val.priority +"</div><div class='card-body'><h5 class='card-title'>" + val.name + "</h5><h6>Manager projektu: " + val.managerName +"</h6><p class='card-text'>" + val.description + "</p></div></div>");
        });
    });
    </script>
}
