@{
    ViewData["Title"] = "ITManager";
}
<div class="text-center">
    <h1 style="font-size: 70px;">ITManager</h1>
    </div>
<div class="text-center">
<h1>Prowadzenie firmy oraz rekrutacji nigdy nie bylo tak proste!<br />Dzieki naszej stronie bedziesz mogl stworzyc swoja organizacje,<br />do ktorej bedziesz mogl dodac swoich pracownikow oraz ich role <br />które wypełniaja.</h1>
</div>