@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<!DOCTYPE html>
<html lang="en" style="height: 100%; min-height: 100%;">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/Navigation-with-Button.css"/>
    <link rel="stylesheet" href="~/css/gradient-navbar.css"/>
    <link rel="stylesheet" href="~/css/Table-with-search.css"/>
    <link rel="stylesheet" href="~/fonts/ionicons.min.css">
    <link rel="stylesheet" href="~/lib/chosen/dist/css/component-chosen.min.css"/>
    <link rel="stylesheet" href="css/Profile-with-data-and-skills.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="css/offers.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
    
    
</head>
<body class="container-fluid" style="font-family: Arvo, serif; background-image: linear-gradient(120deg, #00e4d0, #5983e8); background-attachment: fixed; background-repeat: no-repeat;">
    <header>
        <nav class="navbar navbar-light navbar-expand-md" id="app-navbar" style="padding-bottom: 24px;">
            <div class="container-fluid">
                @if (!SignInManager.IsSignedIn(User))
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/favicon.ico" style="width: 30px" id="brand-logo" class="icon"/>
                    </a>
                }
                else
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Dashboard" asp-action="Index">
                        <img src="~/favicon.ico" style="width: 30px" id="brand-logo" class="icon"/>
                    </a>
                }
                
                <ul class="navbar-nav ml-5">
                    <partial name="_NavItems"/>
                </ul>
                
                <button data-bs-toggle="collapse" data-bs-target="#navcol-1" class="navbar-toggler">
                    <span class="visually-hidden">Wlacz nawigacje</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-xxl-flex justify-content-end align-items-end align-content-end justify-content-xxl-end" id="navcol-1">
                    <ul class="navbar-nav ml-auto">
                        <partial name="_LoginPartial"/>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
@RenderBody()
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/chosen/dist/js/chosen.jquery.js"></script>
<script src="js/helpers.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>