@model ITManagerProject.ViewModels.AddOfferViewModel
@{
    ViewBag.Title = "Dodaj oferte";
}


<!-- Make form for adding offer -->
<form method="post" asp-controller="Dashboard" asp-action="AddOffer">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Nazwa oferty" asp-for="Name">
    </div>
    <div class="form-group">
        <textarea class="form-control" placeholder="Opis" asp-for="Description"></textarea>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Lokalizacja" asp-for="Location">
    </div>
    <div class="form-group">
        <input type="number" class="form-control" placeholder="Wynagrodzenie" asp-for="Salary">
    </div>
    <div class="form-group">
        @Html.DropDownListFor(m => m.RoleId, Model.Roles)  
    </div>
    <button type="submit" class="btn btn-primary">Dodaj</button>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
