@using ITManagerProject.Managers
@using Microsoft.AspNetCore.Identity
@inject OrganizationManager<Organization> _organizationManager;
@inject UserManager<User> _userManager;
@{
    ViewData["Title"] = "Dashboard";
}

@{
    var usr = await _userManager.GetUserAsync(User);
    if (await _organizationManager.CheckIfInAnyOrganizationAsync(usr))
    {
        var org = await _organizationManager.GetOrganization(usr);
        <div class="text-center">
            <h1 style="font-size: 70px">Witaj!</h1>
        </div>
        <div class="text-center">
            <h1>Znajdujesz sie w organizacji o nazwie: @org.Name</h1>
        </div>
        
    }
    else
    {
        <div class="text-center">
            <h1 style="font-size: 70px">Witaj!</h1>
        </div>
        <div class="text-center">
            <h1>Obecnie nie znajdujesz sie w zadnej organizacji,<br/> 
                popros swojego pracodawce o dodanie do organizacji,<br/>
                lub jezeli jestes pracodawca zaloz organizacje!</h1>
        </div>
        <div class="text-center d-xxl-flex justify-content-xxl-center">
            <a class="btn btn-success btn-lg" type="button" asp-area="" asp-controller="Dashboard" asp-action="CreateOrganization">Zaloz organizacje</a>
        </div>
    }
}
