<div class="container-fluid">
    <div class="row">
        <div class="col">
            <a class="btn btn-danger" asp-controller="Dashboard" asp-action="RemoveOrganization">Usun organizacje!</a>
        </div>
    </div>
</div>