@model ITManagerProject.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Rejestracja";
    Layout = "_LoginLayout";
}

<section class="login-dark" style="height: 100%;">
    <form method="post">
        <div class="illustration"><i class="icon ion-ios-locked"></i></div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <input class="form-control" type="email" name="Email" placeholder="Email" asp-for="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <input class="form-control" type="password" name="Password" placeholder="Haslo" asp-for="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <input class="form-control" type="text" name="FirstName" placeholder="Imie" asp-for="FirstName">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <input class="form-control" type="text" name="LastName" placeholder="Nazwisko" asp-for="LastName">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        
        <div class="mb-3">
            <button class="btn btn-primary d-block w-100" type="submit">Zarejestruj</button>
        </div><a class="forgot" asp-area="" asp-controller="Account" asp-action="Login">Masz juz konto? Zaloguj sie</a>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}